body {
	color: #000;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	line-height: 18px;
	font-size: 13px;
}

.lb {
	margin-left: 1em;
	font-weight: normal;
	display: inline;
	
}

.well {
	height: 62px;
	padding: 10px;
}

.well a {
	color: blue;
	font-weight: bold;
	font-size: 15px;
}

.block-img-attr {
	height: 463px;
	width: 890px;
	padding: 0 20px;
}

.block-pro-img {
	width: 350px;
	height: 448px;
	padding-bottom: 15px;
	float: left;
}

.small-img {
	margin-top: 10px;
	height: 52px;
}

.small-img ul {
	padding: 0 32px;
	list-style-type: none;
}

.small-img ul li {

}

.block-pro-attr {
	margin-left: 370px;
	width: 520px;
	height: 385px;
}

.box-name h1 {
	font-size: 24px;
	line-height: 24px;
}

.box-rating {
	margin-top: 10px;
}

.box-rating span {
	font-size:12px;
	margin-left: 10px;
}

.box-price {
	margin-top: 10px;
	border-top: 1px solid rgb(241, 241, 241);
	padding-top: 10px;
	height: 43px;
}

.box-price p {
	color: #ec2800;
	font-size: 19px;
	font-weight: bold;
	height: 24px;
}

.form-attr {
	background-color: #f5f5f5;
	margin-top: 5px;
	padding: 10px 10px 0 10px;
}

.attr {
	height: 30px;
	line-height: 30px;
}

.attr input {
	width: auto;
	height: auto;
	margin: 0;
}

.attr span {
	margin-right: 4px;
}

.form-lb {
	float: left;
	width: 100px;
}

.form-lb-lb {
	font-size: 12px;
	font-weight: normal;
	line-height: 30px;
}

.form-quantity {
	width: 55px;
	padding: 0 5px;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
}
.order {
	margin-top: 20px;
}

.buy {
	background-color: #e60f1e;
	color: white;
}

.add {
	background-color: #029900;
	color: white;
}

.btn-order {
	height: 42px;
	line-height: 42px;
	font-size: 15px; width: 195px;
	margin-right: 14px;
	padding: 0;
}


.btn-order:hover {
	color: white;
	box-shadow: 4px 4px 3px #888888;
	transition: .3s;
}

.info {
	border-top: 2px solid black;
}

.item-preview {
	padding-top: 10px;
	padding-bottom: 10px;
}

.box-item {
	margin: 0;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.price {
	padding: 5px 0;
	line-height: 18px;
	display: block;
	overflow: hidden;
}

.prod-name {
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
}
input[type="text"], input[type="email"],input[type="url"],textarea {
	width:70%;
	border:1px solid #e1e1e1;
	height:37px;
	padding:0 12px
}
.col-md-6 input[type="email"]{
	width:100%;
	border:1px solid #e1e1e1;
	height:37px;
	padding:0 12px
}

.er {
	color: #a94442;
	display: none;
}

.list-image img:hover {
	-webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s;
	transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition-delay: 1;
}